extends layouts/default
include helpers/mixins

block variables
    - const title = "Главная страница"

block content
    h1.title привет мир ydydydy

    p.subtitle Modern CSS framework based on

block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
