extends layouts/default
include helpers/mixins

block variables
    - const title = "Главная страница"

block content
    section.section
        .container
            h1 Hello World
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quis cum officiis suscipit commodi doloremque totam at ab enim quia quam ea sit sed expedita ad voluptatem et nesciunt, accusamus adipisci ipsam, nemo nisi nam hic porro? Eos, aut odit non iste nihil temporibus! Assumenda recusandae voluptatibus eligendi enim!

block scripts
    script(src="js/main.js")
    script(src="js/vendor.js")
